<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    This is Home page
    <form action="" method="post">
        {% csrf_token %}
    <label>Name:</label>
    {{form.name}} <br>
    <label >discription</label>
    {{form.discription}} <br>
    <input type="submit" value="submit">
</form>
    <table border="2" style="float: right; width: 50%;margin: 1rem;">
      {%for data in data %}
      <tr>
        <td>{{data.name}}</td>

        <td>{{data.discription}}</td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
